/* Css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#gallery {
    height: 500px;
    width: 100%;
    border: 1px solid black;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    align-items: center;

    /* position: relative; */
}

#gallery img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    display: none;
}

#gallery img.active {
    display: block;
}

#gallery i {
    margin: 0 10px;
}