/* Css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#carousel {
    height: 500px;
    width: 1000px;
    margin: 40px auto;
    position: relative;

}

#gallery {
    height: 100%;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.7);
}



#gallery img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    display: none;
}

#gallery img.active {
    display: block;
}

#carousel i {
    position: absolute;
    margin: 0 10px;
    top: 50%;
    cursor: pointer;
}

#next-button {
    right: 0;
}